*{
    /* text-transform: capitalize;background-color: rgba(179, 73, 73,0.8); */
    text-transform: capitalize;
    /* box-shadow: 30px; */
}
button{
    color: white;
    background-color: black;
    height: 35px;
    width: 90px;
    border-radius: 20px;
    /* padding: 10px 20px 10px 20px; */
}
button:hover{
    opacity: 0.5;
    background-color: white;
    color: black;
    cursor: pointer;
}
/*
button:active{
    background-color: antiquewhite;
    color: rgb(8, 8, 8);
    transition-property: all;
    /* transition-timing-function: cubic-bezier(); */
.join{
    background-color: rgba(138, 137, 137,0.7);
    color: black;
    width: 65px;
    height: 35px;
    
}
.join:hover{
    opacity: 0.7;
    color: black;
}
.get{
    background-color: rgba(138, 137, 137,0.1);
    color: black;
    width: 115px;
    height: 35px;
    border-radius: 20px;
    border: 2px solid blue;
}
.get:focus{
background-color: cadetblue;
color: white;
cursor: pointer;
}